/* LATER TO BE DELETED*/
#newscontentholder {width: 95vw;grid-template-columns: 40% 60%;}
#newsimagecontainer {padding: 1vw;align-self: center;}
#newsimage {aspect-ratio: 5/3;border-radius: 1.5vw;width: 100%;}.slidertemp {position: relative;opacity: 1;}#newsprev,#newsnext {margin-top: 0px;}.custom-prev-arrow,.custom-next-arrow {background-color: transparent;border: none;cursor: pointer;font-size: 24px;color: #ff0000;}
@media screen and (max-width: 700px) {#newscontentholder {grid-template-columns: 100%;width: 85vw;}#newsimagecontainer {padding: 2vw;align-self: center;margin-bottom: 2vw;}#newsimage {border-radius: 7.5vw;border-bottom-left-radius: 0;border-bottom-right-radius: 0;}}
.content-holder-yellow, .content-holder-black {border-radius: 2.5vw;display: grid;grid-template-columns: 100%; padding: 1vw 2vw 1vw 2vw ;margin: 5vw 6vw 3vw 6vw;border-radius: 10vw;}
.content-holder-black .image-container{order: -1;}
.content-holder-yellow{box-shadow: -0.75vw 0.9vw 3vw rgba(0, 0, 0, 0.2);}
.content-holder-black {box-shadow: 0.75vw 0.9vw 3vw rgba(0, 0, 0, 0.2);}
.redirect-button {background-color: rgb(255, 233, 87);color: rgb(49, 49, 49);font-weight: 800;border-radius: 5px;transition: transform 0.3s ease-in-out;font-size: 6vw;padding: 2.5vw 5vw 2.5vw 5vw;border-radius: 1.5vw;margin-top: 5vw;margin-bottom: 6vw;}
.redirect-button:hover {transform: scale(1.2);background-color: rgb(255, 225, 31);color: rgb(0, 0, 0);}
.content-box-title {color: rgb(49, 49, 49);text-align: center;font-family: Poppins;font-size: 7vw;margin-bottom: 4vw;font-style: normal;font-weight: 800;line-height: normal;padding: 0;}
.image-container {align-self: center;display: flex;justify-content: center;}
.image {width:90%;height: auto;object-fit: cover;}
.text-content {display: flex;flex-direction: column;justify-content: center;align-items: center;text-align:center;white-space: pre-line;color: rgb(49, 49, 49);font-style: normal;line-height: normal;  font-weight: 300;   font-size: 4.5vw;padding: 0vw 5.5vw 0vw 5.5vw;}
h1 {text-align: center;font-size: 2.75rem;}
@media (min-width: 700px) and (max-width: 1000px){
.content-holder-yellow {margin: 35px;padding: 20px 20px 20px 20px ;grid-template-columns:30% 70%;border-radius: 2.5vw;box-shadow: -0.3vw 0.3vw 0.9vw rgba(0, 0, 0, 0.2);}
.content-holder-black {margin: 35px;padding: 20px 30px 20px 30px ;grid-template-columns:70% 30%;border-radius: 2.5vw;box-shadow: 0.3vw 0.3vw 0.9vw rgba(0, 0, 0, 0.2);}
.content-holder-yellow,.content-holder-black{ margin: 1rem 1.8rem 1rem 1.8rem;}
.content-holder-black .image-container{order: 1;}
.content-box-title {font-size: 1.8rem; margin-bottom: 0.4rem;margin-top: 0.5rem;}
.text-content {font-size: 1.35rem;padding: 0vw 1rem 0vw 1rem;}
.redirect-button {font-size: 1.7rem;padding: 0.8rem 1.6rem 0.8rem 1.6rem;margin-top: 0.6rem;margin-bottom: 1rem;border-radius: 7px;}
.image {width: 100%;}}
@media (min-width: 1000px) and (max-width: 1200px){
.content-holder-yellow {margin: 35px;padding: 20px 20px 20px 20px ;grid-template-columns:30% 70%;border-radius: 2.5vw;box-shadow: -0.3vw 0.3vw 0.9vw rgba(0, 0, 0, 0.2);}
.content-holder-black {margin: 35px;padding: 20px 30px 20px 30px ;grid-template-columns:70% 30%;border-radius: 2.5vw;box-shadow: 0.3vw 0.3vw 0.9vw rgba(0, 0, 0, 0.2);}
.content-holder-yellow,.content-holder-black{ padding: 1vw 2vw 1vw 2vw ;margin: 1.5rem 1.8rem 1.5rem 1.8rem;}
.content-holder-black .image-container{order: 1;}
.content-box-title {font-size: 2.1rem; margin-bottom: 0.5rem;margin-top: 0.5rem;}
.text-content {font-size: 1.6rem;padding: 0vw 1rem 0vw 1rem;}
.redirect-button {font-size: 1.9rem;padding: 0.8rem 1.6rem 0.8rem 1.6rem;margin-top: 1rem;margin-bottom: 0.8rem;border-radius: 7px;} 
.image {width: 100%;}}
@media screen and (min-width: 1200px) {.content-holder-yellow {margin: 35px;padding: 20px 20px 20px 20px ;grid-template-columns:30% 70%;border-radius: 2.5vw;box-shadow: -0.3vw 0.3vw 0.9vw rgba(0, 0, 0, 0.2);}
.content-holder-black {margin: 35px;padding: 20px 30px 20px 30px ;grid-template-columns:70% 30%;border-radius: 2.5vw;box-shadow: 0.3vw 0.3vw 0.9vw rgba(0, 0, 0, 0.2);}
.content-holder-black .image-container{order: 1;}
.text-content {font-size: 1.5vw;padding: 0vw 1vw 0vw 1vw ;letter-spacing: 0.075vw; align-self: center;}
.content-box-title {font-size: 2vw;margin-bottom: 0.5vw;}
.redirect-button {font-size: 1.7vw;padding: 0.8vw 1.5vw 0.8vw 1.5vw;border-radius: 7px;margin-top: 1.25vw;margin-bottom: 0;}
.content-holder-yellow,.content-holder-black{padding: 1vw 1vw 1vw 1vw ;margin: 2vw;}
.image {width: 100%;}}
